.pokemon_wrapper{
    flex-basis: 20%;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokemon_image{
    height: 150px;
    max-height: 80%;
}
.pokemon_wrapper:hover{
    background-color: bisque;

}
.name{
    font-size: x-large;
    letter-spacing: 0.5rem;
}